.button {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    text-transform: uppercase;
    color: #C3BCC3;
    -webkit-transition: box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 1% 5%;
}

/*!sc*/
.button::before,.button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background-color: #655F67;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
}


  /*!sc*/
  .button:hover {
    text-shadow: 1px 1px 10px rgba(236,66,55,0.50),-1px -1px 10px rgba(255,251,164,0.50);
    background: linear-gradient(156deg,rgba(239,237,239,0.04) 0%,rgba(0,0,0,0.04) 92.30%);
    box-shadow: 1px 1px 10px 0px rgba(236,66,55,0.50),-1px -1px 10px 0px rgba(255,251,164,0.50);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #EFEDEF;
}

/*!sc*/
.button:hover::before {
    background: linear-gradient(77.9deg,#EC4237 0%,#33B6D8 100%) border-box;
}

/*!sc*/
.button:hover::after {
    background: linear-gradient(230deg,#FFFBA4 0%,rgba(255,251,164,0) 100%) border-box;
    opacity: .3;
}