.hero{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.binStream{
  width: 100vw;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
}

.logos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30vh;
}

.logos>img:first-child{
  width: 36%;
  margin-left: -5%;
}

.logos>img:last-child{
  width: 27%;
}

.multiply{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  font-size: 4.5vw;
  /* color:#5ddcff; */
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 225, 255);
  filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.5px -0.5px 1px)
  drop-shadow(rgba(124, 127, 255, 0.6) 0.5px 0.5px 1px);
}

.recruit{
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.about-box {
  padding: 20px;
  width: 70vw;
  text-align: center;
}

.about-heading {
  font-size: 100px;
  margin-top: 0;
  margin-bottom: 10px;
  color: transparent;
  z-index: 2;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 5s ease-in-out;
}

.about-heading:hover {
  background:-webkit-linear-gradient(0deg, #EC4237 0%,#33B6D8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content{
  background-color:transparent;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  color: #fff;
  /* margin-bottom: 20px; */
  text-align: justify;
  font-size: 150%;
  padding: 5% 8%;
}

.scroll{
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: end;
  font-size: 200%;
}

.discoButton {
  width: 20vw;
  text-align: center;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 3px;
}

.discoButton:hover:before {
  animation: buttonAnimate .75s linear infinite;
}

.discoButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 50% 100%;
}

.discoButton>span {
  position: relative;
  z-index: 3;
  padding: 0.875rem 0;
  font-size: 1.1rem;
  align-items: center;
  background: #000;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.discoButton>span:hover {
  color: #fff;
}

@keyframes buttonAnimate {
  0% {
    transform: translateX(-50%);
  }
}