.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.desc{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.repoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.repoCard>img{
    width: 30%;
}