@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #2d2d2d;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 41%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 55%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 20%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 53%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 8s;
}
.background li:nth-child(4) {
    left: 86%;
    width: 82px;
    height: 82px;
    bottom: -82px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 74%;
    width: 45px;
    height: 45px;
    bottom: -45px;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 47%;
    width: 47px;
    height: 47px;
    bottom: -47px;
    animation-delay: 3s;
}
.background li:nth-child(7) {
    left: 5%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 19s;
}
.background li:nth-child(8) {
    left: 2%;
    width: 23px;
    height: 23px;
    bottom: -23px;
    animation-delay: 35s;
}
.background li:nth-child(9) {
    left: 13%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 11s;
}
.background li:nth-child(10) {
    left: 31%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 43s;
}
.background li:nth-child(11) {
    left: 71%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 10s;
}
.background li:nth-child(12) {
    left: 2%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 45s;
}
.background li:nth-child(13) {
    left: 12%;
    width: 63px;
    height: 63px;
    bottom: -63px;
    animation-delay: 57s;
}
.background li:nth-child(14) {
    left: 79%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 34s;
}
.background li:nth-child(15) {
    left: 9%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 7s;
}
.background li:nth-child(16) {
    left: 76%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 1s;
}
.background li:nth-child(17) {
    left: 37%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 6s;
}
.background li:nth-child(18) {
    left: 74%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 3s;
}
.background li:nth-child(19) {
    left: 37%;
    width: 47px;
    height: 47px;
    bottom: -47px;
    animation-delay: 54s;
}
.background li:nth-child(20) {
    left: 3%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 90s;
}
.background li:nth-child(21) {
    left: 17%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 95s;
}
.background li:nth-child(22) {
    left: 44%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 66s;
}
.background li:nth-child(23) {
    left: 17%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 42s;
}
.background li:nth-child(24) {
    left: 48%;
    width: 20px;
    height: 20px;
    bottom: -20px;
    animation-delay: 59s;
}
.background li:nth-child(25) {
    left: 83%;
    width: 57px;
    height: 57px;
    bottom: -57px;
    animation-delay: 63s;
}